#!/bin/bash

activate_volume_groups(){
    for vg in `/usr/sbin/lvm vgs -o name --noheading 2>/dev/null`; do
        /usr/sbin/lvm vgchange -ay $vg
    done
}

main() {
    name=$(basename "$0")
    start=$(/usr/bin/date +%s)
    activate_volume_groups
    # run bigboot.sh to increase boot partition and file system size
    ret=$(sh /usr/bin/bigboot.sh -d="{{ bigboot_boot_device_name }}" -s="{{ bigboot_size }}" -b="{{ bigboot_boot_partition_number }}" -p="{{ bigboot_boot_device_partition_prefix }}" 2>/dev/kmsg)
    status=$?
    end=$(/usr/bin/date +%s)
    # write the log file
    if [[ $status -eq 0 ]]; then
        echo "[$name] Boot partition {{ bigboot_boot_device_name }} successfully increased by {{ bigboot_size }} ("$((end-start))" seconds) " >/dev/kmsg
    else
        echo "[$name] Failed to extend boot partition: $ret ("$((end-start))" seconds)" >/dev/kmsg
    fi
}

main "$0"
