name: Ansible Lint
on:
- push
- pull_request
- workflow_call

jobs:
  ansible-lint:
    name: Ansible Lint
    runs-on: ubuntu-latest

    steps:
      - name: Build collection
        run: ansible-galaxy collection build -vvv
        shell: bash
        working-directory: ${{ vars.GITHUB_PATH }}

      - name: Get version
        run: echo "NUM=$(cat galaxy.yml | grep version | cut -d ':' -f 2 | awk '{print $1}')" >> $GITHUB_OUTPUT
        id: vers

      - name: Install collection
        run: ansible-galaxy collection install ./infra-lvm_snapshots-${{ steps.vers.outputs.NUM }}.tar.gz # -p /home/runner/collections
        shell: bash
        working-directory: ${{ vars.GITHUB_PATH }}

      - name: Run ansible-lint
        uses: ansible/ansible-lint@main # or version tag instead of 'main'
        with:
          args: "--offline"
  build-import:
    uses: ansible/ansible-content-actions/.github/workflows/build_import.yaml@main
  all_green:
    if: ${{ always() }}
    needs:
      - ansible-lint
      - build-import
    runs-on: ubuntu-latest
    steps:
      - run: >-
          python -c "assert set([
          '${{ needs.ansible-lint.result }}',
          '${{ needs.build-import.result }}',
          ]) == {'success'}"
